
<div class="top_banner clearfix">
  <a id="vip_kf" href="tencent://message/?uin=3025430336&Site=%E6%9F%90%E6%9F%90&Menu=yes" title="点击添加VIP专属客服"></a>
  <a id="signup" href="http://www.ibaiyu.cn/4372reg.aspx" title="点击注册爱百娱账号"></a>
</div>


<div id="content">
  <div class="panel">
    <div class="inner">
      <div class="header clearfix">
        <h3>网页游戏开服表</h3>
        <% if (locals.current_user) { %>
          <a href='/topic/create' id='create_topic_btn'>
            <button class='btn btn-success'>发布开服</button>
          </a>
        <% } %>
      </div>
      <% if (locals.topics && topics.length > 0) { %>
      <%- partial('topic/list', {
        topics: topics,
        pages: pages,
        current_pages: current_page,
        base: keyword ? ('/?q=' + keyword) : '/'
      }) %>
      <% } else { %>
      <div class='inner'>
        <p>无开服信息</p>
      </div>
      <% } %>
    </div>
  </div>
</div>
<input type='hidden' name='_csrf' value='<%= csrf %>' />
<script>
  $(".topic_list .bd li i").hover(function(){
    $(this).addClass("icon-white");
  },function(){
    $(this).removeClass("icon-white");
  });

  /**
   * 删除开服信息
   */
  $('.icon-remove').click(function () {
    var topicId = $(this).data('tid');
    if (topicId && confirm('确定要删除此条开服信息吗？')) {
      $.post('/topic/' + topicId + '/delete', { _csrf: $('#_csrf').val() }, function (result) {
        if (!result.success) {
          alert(result.message);
        } else {
          location.href =  '/?uid=' + result.topic.author_id;
        }
      });
    }
    return false;
  });
</script>
