ul,li{
  margin: 0;
  padding: 0;
}
.clearfix:after{
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
body{
  background: url("../images/kaifu_bg.jpg") center top;
}
body #main{
  position: relative;
  width: 824px;
  height: 1550px;
  margin: 0 auto;
}
#content{
  position: absolute;
  top: 427px;
  width: 744px;
  height: 1040px;
  padding: 40px;
}
.header{
  padding: 10px;
  border-bottom: 1px dashed #a99b83;
  margin-bottom: 15px;
}
.header h3{
  float: left;
  margin: 0;
  color: #574e3f;
}
#create_topic_btn{
  display: block;
  float: right;
  line-height: 40px;
}
.pagination ul{
  background: #fff;
}
.topic_list .hd li{
  width: 170px;
  display: block;
  list-style: none;
  float: left;
  height: 36px;
  margin-right: 2px;
  color: #574e3f;
  font-size: 16px;
  font-weight: bolder;
  line-height: 36px;
  text-align: center;
}
.topic_list .bd{}
.topic_list .bd li{
  height: 35px;
  line-height: 35px;
  border-bottom: 1px dashed #b7ab95;
  list-style: none;
}
.topic_list .bd li span{
  width: 170px;
  margin-right: 2px;
  float: left;
  display: block;
  text-align: center;
  color: #5a5650;
}
#footer {
  margin-top: 30px;
  border-top: 3px solid #ff6600;
  background: #ffffff;
}
#footer .links{
  display: block;
  text-align: center;
  padding: 20px 0 16px 0;
  border-bottom: 1px solid #cccccc;text-align: center;
}
#footer .links li{
  display: inline-block;
  width: 96px;
}
#footer .links li a{
  color: #888888;
  font-size: 14px;
}
#footer .links li a:hover{
  color: #ff6600;
  text-decoration: none;
}
.copyright{
  text-align: center;
  color: #888888;
  padding: 14px 0 80px;
}
.copyright p{
  line-height:24px;
}
.layout-1000 {
  width: 1000px;
}
.layout {
  margin: 0 auto;
  text-align: left;
  overflow: hidden;
}